*{
    padding: 1;
    margin: 1;   
}
body{
    background-color:red;
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section.dante{
    width: 90%;
    display: inline-block;
}
section.dante h6{
    font-size: 1em;
    padding-top: 1em;
    width: 30%;
    float: left;
    color: black;
    text-align: justify;
}


